.friendItemWrapper {
  width: calc(100% / 4 - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  font: "Helvetica ";
  font-size: 32px;
  font-weight: 500;

  color: black;
  border-radius: 10px;
  border: 3px solid black;
  background-color: white;
}

.friendItemWrapper:not(:last-child) {
  margin-right: 10px;
}

.friendAvatar {
  margin: 20px auto;
}

.friendStatus {
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: 400;
}

.friendOnline {
  color: green;
}

.friendOffline {
  color: red;
}
